[submodule "libp2p-rendezvous-peerstore"]
	path = libp2p-rendezvous-peerstore
	url = git@github.com:jolatechno/libp2p-rendezvous-peerstore.git
[submodule "peerstore-rendezvous"]
	path = peerstore-rendezvous
	url = git@github.com:jolatechno/peerstore-rendezvous.git
